body{
    
     font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
    margin: 0;
    background-color: #EEE4B1;
    color: #00224D;
    text-align: center;
    padding: 0;
   
}

.blur
{
    
   z-index: -1;
    filter: blur(5px);
    pointer-events: none;
   user-select: none;
}
.Header
{
    font-size: 50px;
    padding-top: 23px;
    height: 100px;
    font-weight: bolder;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color:#EEE4B1;
    margin-bottom: 20px;
    
}

.SignIn h1
{
    font-size: 70px;
    font-weight: bolder;
    
}
.SignIn input 
{
    margin-top:20px ;
}
.SignIn  button 
{
    margin: 30px;
}

.link button
{
    width: 150px;
  margin: 0;
}
.SignOut
{
    position: absolute;

    top:7px;
    right: 30px;
}
.SignOut button
{
    color: #EEE4B1;
    width:140px;
    background-color: #000000;
}
.SignOut button:hover
{
    background-color: #00224D;
}
.Search button{
    margin-left: 30px;
    width: 200px;
}
.hide
{
    display: none;
}
input
{
    width: 20%;
    height: 10px;
    font-family: "Kode Mono", monospace;
    font-size: 23px;
    color: #000000;
    background-color: #ffffff;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    outline: none;
}


button
{
    margin-top: 20px;
    font-family: "Kode Mono", monospace;
    padding: 20px;
    cursor: pointer; 
    border: none; 
    font-size: 20px;
    width: 100px;
    font-weight: bolder;
    color: #EEE4B1;
    background-color: black;
    border-radius: 10px;
    
   
}
button:hover
{
  background-color: #00224D;
}


.facecard
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;
}
.contact-table {
    width: 98%;
    color: #EEE4B1;
    font-weight: bolder;
    border-collapse: collapse;
  }
  
  .contact-table th,
  .contact-table td {
    padding: 8px;
    border: 1px solid #000000;
  }

  td{
    color: #00224D;
  }
  
  .contact-table th {
    background-color: #000000;
    text-align: center;
  }
.edit
{
   
}
.edit:hover
{
    color: red;
    cursor: pointer;
}
.trash
{
   
}
.trash:hover
{
    color: red;
    cursor: pointer;
}
.card
{
    width: 80%;
    color: #000000;
    border-radius: 5px;
    margin:20px ;
    margin-right: 0px;
    padding: 10px;
    background-color: #16FF00;
    height: 300px;
    
    font-weight: bold;
   
    text-align: center;
   
}
.editPage
{
    width: 60%;
    height: 450px;
    position: absolute;
    top: 200px;
    left: 20%;
    backdrop-filter: none;
    z-index: 1;
    background-color: #616e5d;
    box-shadow: 0 0 20px 20px rgb(0, 0, 0.1);
    border-radius: 20px;
}
.hide1
{
    display: none;
}
.AddForm
{
    display: flex;
    justify-content: center;
}
.AddForm input
{
    width: 70%;
}